/* ----------------------------------------------
	div.simple-amazon-view
---------------------------------------------- */

/* structure */
div.simple-amazon-view {
	margin: 20px 0;
	padding: 12px;
	background-color: #fff;
	border: 5px solid #ccc;
}
div.simple-amazon-view:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.simple-amazon-view p {
	margin: 0;
}

.sa-img-box {
	float: left;
	width: 175px;
	line-height: 100%;
	text-align: center;
	border: 1px solid #ddd;
}

.sa-detail-box {
	margin-left: 185px;
}

@media (max-width: 480px) {
	.sa-img-box {
		float: none;
		margin: 0 auto;
	}
	.sa-detail-box {
		margin-left: 0;
		margin-top: 1.2em;
	}
}

/* in sa-img-box */
.sa-img-box a img {
	display: inline;
}

/* in sa-detail-box */
.sa-detail-box .sa-title {
	padding: 0;
	font-size: 1.4em;
	font-weight: bold;
}

.sa-detail-box ul.sa-detail {
	margin: 10px 0;
	padding-left: 1em;
	list-style-type: none;
}

.sa-detail-box ul.sa-detail li {
	margin: 0;
	line-height: 120%;
}

.sa-detail-box .sa-link {
	text-align: right;
}

.sa-detail-box .sa-link a {
	background-color: #FEA909;
	color: #fff;
	padding: 7px 12px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
}
.sa-detail-box .sa-link a:focus,
.sa-detail-box .sa-link a:hover {
	color: #fff;
}
